<div
  class="container d-flex justify-content-center align-items-center flex-wrap"
>
<div class="row">
      <div class="col-12">
        <!-- Page title -->
        <div class="my-5">
          <h3>Mein Profil</h3>
          <hr>
        </div>
        <!-- Form START -->
        <form class="file-upload">
          <div class="row mb-5 gx-5">
            <!-- Contact detail -->
            <div class="col-xxl-8 mb-5 mb-xxl-0">
              <div class="bg-secondary-soft px-4 py-5 rounded">
                <div class="row g-3">
                  <h4 class="mb-4 mt-0">Kontaktinformationen</h4>
                  <!-- First Name -->
                  <div class="col-md-6">
                    <label class="form-label">Vorname *</label>
                    <input type="text" class="form-control" placeholder="" aria-label="First name" value="Scaralet">
                  </div>
                  <!-- Last name -->
                  <div class="col-md-6">
                    <label class="form-label">Nachname *</label>
                    <input type="text" class="form-control" placeholder="" aria-label="Last name" value="Doe">
                  </div>
                  <!-- Phone number -->
                  <div class="col-md-6">
                    <label class="form-label">Telefonnummer *</label>
                    <input type="text" class="form-control" placeholder="" aria-label="Phone number" value="(333) 000 555">
                  </div>
                  <!-- Email -->
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email *</label>
                    <input type="email" class="form-control" id="inputEmail4" value="example@homerealty.com">
                  </div>
                </div> <!-- Row END -->
              </div>
            </div>
            <!-- Upload profile -->
            <div class="col-xxl-4">
              <div class="bg-secondary-soft px-4 py-5 rounded">
                <div class="row g-3">
                  <h4 class="mb-4 mt-0">Profilbild hochladen</h4>
                  <div class="text-center">
                    <!-- Image upload -->
                    <div class="square position-relative display-2 mb-3">
                      <i class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
                    </div>
                    <!-- Button -->
                    <input type="file" id="customFile" name="file" hidden="">
                    <label class="btn btn-success-soft btn-block" for="customFile">Hochladen</label>
                    <button type="button" class="btn btn-danger-soft">Entfernen</button>
                    <!-- Content -->
                    <p class="text-muted mt-3 mb-0"><span class="me-1">Hinweis:</span>Minimum size 300px x 300px</p>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- Row END -->
  

          <!-- button -->
          <div class="gap-3 d-md-flex justify-content-md-end text-center">
            <button type="button" class="btn btn-primary btn-lg">Profil aktualisieren</button>
          </div>
        </form> <!-- Form END -->
      </div>
</div>
